.player-card{
    min-width:250px;
    background:#fff
}

.player-card__name{
    font-weight:300;
    font-size:1.5rem;
}


.player-card__stats{
    font-weight:500;
    font-size:0.9rem;
    font-style: italic;
}

.player-card__avatar{
    height:100px !important;
    width:100px !important;
    img{
        height:100px !important;
        width:100px !important;
    }
}